@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes slide-left {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slide-left-our {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }
    70% {
        transform: translateX(10%);
        opacity: 1;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slide-right-our {
    0% {
        transform: translateX(100%);
        opacity: 0;
    }
    70% {
        transform: translateX(-10%);
        opacity: 1;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@media (prefers-reduced-motion: no-preference) {
    .flex-2-item {
        opacity: 0; /* Ukryj elementy początkowo */
    }
    .flex-2-item-left.in-view {
        animation: slide-left-our 1.5s ease-out forwards;
    }
    .flex-2-item-right.in-view {
        animation: slide-right-our 1.5s ease-out forwards;
    }
}


@keyframes slide-fade-in {
    from {
        opacity: 0;
        transform: translateY(5vh);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@media (prefers-reduced-motion: no-preference) {
    .card {
        opacity: 0; 
    }
    .card.in-view {
        animation: slide-fade-in 1s both;
    }
    .flex-3-item.in-view {
        animation-delay: 0.5s; 
    }
    .sub-item.in-view {
        animation-delay: 0.5s; 
    }
}

body{
    margin: 0;
    background-color: #ECFCFF;
}
/* TOPPER */
.topper-section{
    background-image: url(pictures/Tło.png);
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    min-height: 100vh;
}
.topper{
    padding-top: 150px;
    padding-right: 40%;
}
.title {
    animation: fadeIn 2s ease-in-out;
    text-align: center;
    font-family: "Tinos", serif;
    color: white;
    font-size: 95px;
    font-weight: 700;
}

.description {
    opacity: 0; 
    font-family: "Josefin Sans", sans-serif;
    font-weight: 300;
    font-size: 36px;
    color: white;
    text-align: center;
    padding-right: 5%;
}


/* learn-section */

.learn-section{
    margin-bottom: 100px;
}

.img-learn{
    height: 517px;
    width: 440px;
}

.sub-title{
    font-family: "Roboto Slab", serif;
    font-size: 65px;
    text-align: center;
}
.flex-3{
    padding-left: 13%;
    padding-right: 13%;
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
}
.flex-3-item{
    flex: 1;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.sub-item{
    display: flex;
    justify-content: center;
    flex-direction: column;
    max-width: 80%;
    align-items: center;
}
.learn-title{
    font-family: "Roboto Slab", serif;
    font-weight: 500;
    font-size: 41px;
    align-items: center;
    text-align: center; 
}
.list-learn-item{
    font-family: "Josefin Sans", sans-serif;
    font-weight: 400;
    font-size: 26px;
    margin-top: 10px;
}
.flex-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    padding-left: 2%;
    padding-right: 2%;
    gap: 50px;
}

.flex-2-item {
    flex: 1 1 auto; 
    margin-left: 2%;
    margin-right: 2%;
    min-width: 650px;
    max-width: 660px; 
    margin: 20px 0; 
}

.ourprogram-title{
    margin-top: 0;
    font-family: "Roboto Slab", serif;
    font-weight: 600;
    font-size: 41px;
    align-items: center;
    text-align: center; 
}
.ourprogram-desc{
    font-family: "Josefin Sans", sans-serif;
    font-weight: 300;
    font-size: 26px;
    margin-top: 20px;
    margin-bottom: 10px;

}
.white-background{
    background-color: white;
    border-top-left-radius: 55px;
    border-top-right-radius: 55px;
    border-bottom-left-radius: 55px;
    border-bottom-right-radius: 55px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 9px 20px;
    padding: 30px;
}
.ourprogram-image{
    display: block;
    width: 670px;
    height: 670px;
}
.ourprogram-down{
    margin-top: 0;
    margin-bottom: 0;
    font-family: "Josefin Sans", sans-serif;
    font-weight: 400;
    font-size: 20px;
    text-align: right;
}
.ourprogram-details {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    text-align: right;
}
.arrow-container {
    display: flex;
    justify-content: center;
    padding-right: 40px;
}
.arrow {
    display: block;
}
.galery-cont{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: fit-content;
    margin: 0 auto;
    position: relative;
}
.short-hr {
    border: 0;
    width: 115%;
    border: 3px solid black;
    margin: 0 auto;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 20px;
}
#galery{
    margin-top: 30px;
}

.galery-down{
    margin-top: 0;
    margin-bottom: 0;
    font-family: "Josefin Sans", sans-serif;
    font-weight: 400;
    font-size: 20px;
    text-align: center;
}
.galery-details {
    display: flex;
    flex-direction: column;
    text-align: center;
}
.arrow-container {
    display: flex;
    justify-content: center;
    padding-right: 40px;
}
.arrow {
    display: block;
}
.about{
    margin-left: 12%;
    margin-right: 12%;
    margin-bottom: 100px;
}
.pretty{
    font-family: "Srisakdi", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 48px;
    text-align: center;
    opacity: 0; 
    transition: opacity 1.5s ease-in-out;
    min-width: 110px;
}
.about-pic{
    width: 665px;
    height: 678px;
}
.about-title{
    margin: 0;
    font-family: "Roboto Slab", serif;
    font-weight: 500;
    font-size: 41px;
    align-items: center;
    text-align: center; 
}
.about-subtitle{
    font-family: "Playfair Display", serif;
    font-size: 30px;
    font-weight: 400;
}
.about-desc{
    margin-top: 0;
    font-family: "Josefin Sans", sans-serif;
    font-weight: 300;
    font-size: 26px;
    margin-bottom: 30px;
}
.max-width{
    display: flex;
    justify-content: center;
    flex-direction: column;
    max-width: 80%;
}
#about-center{
    display: flex;
    justify-content: center;

}
#shorter{
    width: 80%;
}
#margin-top{
    margin-top: 100px;
}
.green-background{
    padding: 40px;
    background: linear-gradient(to right, #C8D8BE, #6A7264);
    box-shadow: 8px 8px 6px 4px lightgrey;
}
.last-pic{
    display: block;
    width: 597px;
    height: 398;
}
.last-title{
    margin-top: 0;
    margin-bottom: 40px;
    font-family: "Playfair Display", serif;
    font-size: 41px;
    font-weight: 700;
    text-align: center;
}
.last-desc{
    font-family: "Josefin Sans", sans-serif;
    font-weight: 300;
    font-size: 26px;
    margin-bottom: 30px;
    text-align: center;
}
.big-button{
    background-color: black;
    color: white;
    padding-top: 20px;
    padding-left: 60px;
    padding-right: 60px;
    padding-bottom: 20px;
    text-align: center;
    max-width: 80%;
}

.container{
    margin-bottom: 100px;
}
.pretty-container {
    height: 120px; 
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden; 
}
.margin-bottom-galery{
    margin-bottom: 60px;
}


.flex2-test{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.flex2-test-item{
    flex: 1;
    font-size: 40px;
}
#blue{
    background-color: blue;
}

@media (max-width: 1400px){
    .topper-section{
        background-image: url(pictures/Tło-little.png);
    }
    
    .img-learn{
        height: 477px;
        width: 400px;
    }

    .flex-2{
        flex-direction: column;
    }
    .flex-2-item{
        margin-left: 15%;
        margin-right: 15%;
        min-width: 600px;
    }

    .pretty{
        font-size: 35px;
        min-width: 100px;
    }
}
@media (max-width: 1200px){
    .topper-section{
        background-image: url(pictures/Tło-little-more.png);
    }
    .img-learn{
        height: 390px;
        width: 320px;
    }
    .learn-title{
        margin: 0;
    }
    .sub-item{
        max-width: 100%;
    }
}
@media (max-width: 1000px){
    .topper-section{
        background-image: url(pictures/Tło-1000px.png);
    }
    .topper{
        padding-top: 5%;
        padding-bottom: 5%;
        padding-right: 0;
    }
    .description{
        font-weight: 400;
        font-size: 30px;
        padding-right: 0;

    }

    .flex-3{
        flex-direction: column;
        padding: 0;
    }
    .sub-item{
        max-width: 70%;
    }
    
}
@media (max-width: 800px){
    .topper-section{
        background-image: url(pictures/Tło-tel.png);
    }
    .img-learn{
        height: 390px;
        width: 330px;
    }

    .learn-title{
        margin-top: 20px;
        font-size: 31px;
    }
    .list-learn-item{
        font-size: 21px;
        margin-top: 0px;
    }
    .sub-item{
        max-width: 100%;
    }
    .pretty{
        font-size: 30px;
        min-width: 120px;
    }
    .last-pic{
        display: none;
    }
    .about{
        margin: 0;
    }
}
@media (max-width: 650px) {
    .ourprogram-title{
        font-weight: 600;
        font-size: 31px;
    }
    .ourprogram-desc{
        font-size: 20px;
    
    }
    .ourprogram-image {
    display: block;
    max-width: 100%; 
    height: 470px;
    width: 470px; 
    margin: 0 auto; 
    }
    .flex-2-item{
        max-width: 460px; 
        min-width: 460px; 
    }
}

@media (max-width: 500px){
    .topper{
        padding-top: 15%;
        padding-bottom: 5%;
        padding-right: 0;
    }
    .title{
        font-size: 70px;
    }
    .description{
        font-size: 30px;
        padding-right: 0;

    }
}

@media (max-width: 450px) {
    .topper{
        padding-top: 10%;
    }
    .description{
        font-size: 25px;
    }
    .ourprogram-image {
    max-width: 100%; 
    height: 370px;
    width: 370px; 
    margin: 0 auto; 
    }
    .flex-2-item{
        max-width: 360px; 
        min-width: 360px; 
    }
}